a{
    color:black;
    font-weight: solid;
}

.toggle-nav{
    width:100%;
    box-sizing: border-box;
    font-size: 50px;
    display: none;
    padding-bottom: 0;
}

.message{
    box-sizing: border-box;
    max-width: 95%;
}

.desktop-nav{
    display: flex;
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid salmon;
    border-bottom: 1px solid salmon;
}
.content-section .description-row, .input-row{
    box-shadow: 0 5px 5px 0 grey;
}

main{
    box-sizing: border-box;
    background-color:rgb(243, 241, 237);
    /* height: 100%; */
    border-radius: 15px;
    max-height: 100%;
    width: 100%;
    padding-bottom: 12px;
}

.logo-name{
    display: inline;
}

.desktop-nav .question:hover{
    background-color: antiquewhite;
}

.bi-check2,.bi-x-circle{
    font-size: 50px;
}

.bi-arrow-clockwise:hover{
    cursor: pointer;
}

@media (max-width: 768px){
    .logo, .desktop-nav{
        display: none;
    }

    .toggle-nav{
        display: block;
    }
}